/********** GENERAL **********/
.message{
    border: 1px solid #9dc2f8;
    background: yellow;
    padding: 3px;
}
.page-content{
    position: relative;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
}
/********** NEWPOST  **********/
.stickers_div{
    float: left;
    position: relative;
    width:10%;
}

.prepics_div{
    float: right;
    position: relative;
    width:10%;
}

.pic_div{
    float: left;
    position: relative;
    width: 80%;
    height: 40vh;
} 

#btn-post{
    position: absolute;
}

.sticker{
    width:8vw;
}

.added-sticker{
    width:10vw;
    position:absolute;
    z-index: 2;
    cursor: move;
}

#camera--trigger{
    position:absolute;
	z-index: 3;
}
#uploaded-pic{
    width:100%;
    height:100%;
    object-fit: scale-down;
    position:absolute;
	z-index: 1;
} 

#camera--sensor{
    display: none;
}

#camera--view{
    position:absolute;
    z-index: 1;
}
#process-final{
    border: solid black 1px;
}
/* 
.process_post
{
    width:100%;
    height:90%;
    /* border: rgb(151, 127, 127) solid 1px; */
/* } */
/* 
.toggleButton{
    background-color: black;
    color: white;
}

*/
/* #form_upload{
    display: none;
} */
/* 

#camera--trigger{
    text-align: center;
    vertical-align: bottom;
    position:absolute;
	z-index: 2;
}


.toggleDiv{
    width:100%;
    height:100%;
    position: absolute;
    z-index: 1;
}


/* .toggleDiv{
    display:none;
}  */

/* .final_pic{
    width:100%; 
    height:100%;
}

.snap-pic{
    height:100%;
    position: absolute;
    z-index: 1;
}

 */