/********** GENERAL **********/
.message{
    border: 1px solid #9dc2f8;
    background: yellow;
    padding: 3px;
}
.page-content{
    position: relative;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
}
/********** WEBCAM **********/
.pic_div{
    float: left;
    position: relative;
    width: 80%;
    height: 40vh;
    border: rgb(151, 127, 127) solid 1px;
} 
.process_post
{
    width:100%;
    height:90%;
    border: rgb(151, 127, 127) solid 1px;
}

.stickers_div{
    float: left;
    position: relative;
    width:10%;
}

.prepics_div{
    float: right;
    position: relative;
    width:10%;
}

.btn{
    text-align: center; 
} 

.toggleButton{
    background-color: black;
    color: white;
}

#uploadedpic{
    width:100%;
    height:100%;
    object-fit: scale-down;
    position:absolute;
	z-index: 1;
}
#camera--view{
    position:absolute;
}

#camera--trigger{
    text-align: center;
    vertical-align: bottom;
    position:absolute;
	z-index: 2;
}

.added-sticker{
    width:10vw;
    position:absolute;
	z-index: 2;
}

.toggleDiv{
    width:100%;
    height:100%;
    position: absolute;
    z-index: 1;
}

.sticker{
    width:8vw;
}

/* .toggleDiv{
    display:none;
}  */

.final_pic{
    width:100%; 
    height:100%;
}

.snap-pic{
    height:100%;
    position: absolute;
    z-index: 1;
}

#btn-post{
    position: absolute;
    z-index: 2;
}