/********** GENERAL **********/

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
}


/* @media (max-width: 700px) {
    body {
        font-size: 15px;
    }
} */

.message {
    border: 1px solid #F5A490;
    background: #f9e3b3;
    padding: 3px;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    border: solid #f78b6a 1px;
}

button {
    background-color: #f78b6a;
    border-radius: 4px;
    border: 1px solid #ffffff;
    cursor: pointer;
    color: white;
    font-size: inherit;
    padding: 6px 15px;
    margin: 5px 0px;
    text-decoration: none;
}

button a {
    color: white;
}

button:hover {
    background-color: #f5a490;
}

button:active {
    position: relative;
    top: 1px;
}

ul {
    list-style-type: none;
}

.page-content {
    position: relative;
    min-height: 100%;
    padding: 1rem 1rem;
}

footer {
    position: absolute;
    margin-bottom: 0;
    width: 100%;
    text-align: right;
}

div.container {
    padding: 15px;
    height: 75vh;
    width: 100%;
}


/********** NAV & FOOTER **********/

.my_profile {
    padding-bottom: 25px;
}

#nav_bar {
    padding: 5px;
    /* height: 10vh; */
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(138, 158, 190, 0.8);
}

#logo {
    font-size: 3.5rem;
    display: block;
    Color: #f78b6a;
    font-family: 'Pacifico', cursive;
}

#nav {
    display: block;
    flex-grow: 5;
    padding: 10px;
    text-align: right;
}

.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    min-width: 140px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9e3b2;
    z-index: 1;
}

.dropdown-content a {
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #F5A490;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/********** Account Setting  **********/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #f78b6a;
}

input:focus+.slider {
    box-shadow: 0 0 1px #f78b6a;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.fa-envelope {
    color: #f78b6a;
    padding: 5px;
}

.fa-key {
    color: #f78b6a;
    padding: 5px;
}

.fa-user {
    color: #f78b6a;
    padding: 5px;
}

.fa-bell {
    color: #f78b6a;
    padding: 5px;
}


/* 
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
} */


/********** NEWPOST  **********/

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    height: 75vh;
}

.wrapper>* {
    padding: 10px;
    flex: 1 100%;
}

.main {
    text-align: center;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
    }
    .aside-1 {
        order: 1;
        height: 100%;
    }
    .main {
        order: 2;
    }
    .aside-2 {
        order: 3;
        height: 100%;
    }
}

@media all and (max-width: 800px) {
    .aside-1 {
        height: 30%;
    }
    .aside-2 {
        height: 30%;
    }
}

.aside-1 {
    /* height: 20%; */
    overflow: auto;
}

.aside-2 {
    /* height: 80%; */
    overflow: auto;
}

.sticker {
    width: 60%;
}

.prepic {
    width: 60%;
}

#process_final {
    width: 100%;
    height: 100%;
    display: block;
}

#camera--view {
    width: 500px;
    height: 500px;
    object-fit: fill;
    position: absolute;
}

#canvas_bg {
    width: 500px;
    height: 500px;
    border: solid #F5A490 2px;
    position: absolute;
}

#canvas_stickers {
    width: 500px;
    height: 500px;
    position: relative;
}

#btn_post {
    display: none;
}

#btn_redo {
    display: none;
}

#final_preview {
    width: 100%;
    height: 100%;
    display: none;
}

#post_again {
    display: none;
}

.pic_div {
    padding-top: 5px;
}


/**********GALLERY  **********/

.gallery_div {
    position: relative;
    text-align: center;
    width: 80vw;
    margin: auto;
    /* height: 75vh; */
}

.img-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 15px;
    height: 75vh;
    width: 100%;
    overflow: auto;
    margin: auto;
}

.img-item {
    /* width: 400px; */
    height: auto;
    margin: 10px;
    position: relative;
}

.img-item .gallery_pic {
    display: inline;
    width: 100%;
    /* height: 100%; */
    z-index: 1;
}

#username {
    margin: 0;
    padding: 0;
}

.icons {
    width: 2.5rem;
}

.single_pic {
    position: relative;
    float: left;
    width: 45%;
    margin: 5px;
}

.single_picture {
    width: 100%;
}

.comments_likes {
    position: relative;
    float: left;
    width: 45%;
    margin: 10px;
}

#comments_div {
    width: 100%;
}

#new_comment {
    width: 100%;
    height: 5vh;
}

.img-item:hover .delete_btn {
    opacity: 1;
}

.img-item .delete_btn {
    opacity: 0;
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 2;
    transition: 0.5s ease;
}

.img-item:hover .comments_likes_div {
    opacity: 1;
}

.comments_likes_div {
    background: rgba(245, 164, 144, 0.6);
    color: white;
    opacity: 0;
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 2;
    text-align: center;
    transition: 0.5s ease;
    padding: 10px 25px;
}

.delete_comfirm {
    color: white;
    text-align: center;
    background: rgba(245, 164, 144, 0.6);
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 2;
    display: none;
    width: 100%;
    padding: inherit;
}